$very-dark-blue: hsl(216, 12%, 8%);
$white: hsl(0, 0%, 100%);
$medium-grey: hsl(216, 12%, 54%);
$light-grey: hsl(217, 12%, 63%);
$dark-blue: hsl(213, 19%, 18%);
$orange: hsl(25, 97%, 53%);
$medium-dark-blue: hsla(210, 15%, 24%, 0.644);
